*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, 
html{
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  user-select: none;
  background-color: black;
  scroll-behavior: smooth;
}

nav{
  position: fixed;
  width: 100vw;
  color: antiquewhite;
  z-index: 1;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  z-index: 100000000;
}

nav a{
  position: relative;
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
  font-size: large;
  width: 150px;
  padding: 5px;
}

nav h3{
  padding-top: 10px;
  font-weight: bold;
  font-size: larger;
}

.aboutme_main{
  padding: 5em;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutme_edu, .aboutme_work{
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutme_work__h3, .aboutme_edu__h3{
  color: orangered;
}

.aboutme_edu__h3, .aboutme_edu__desc h4, .aboutme_work__desc h4{
  text-align: right;
}

.aboutme_edu__desc{
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 2em;
  background: linear-gradient(90deg, rgba(255, 169, 0, 0.05) 0%, transparent);
  border-radius: 10px;
  border-left: 1px solid bisque;
}

.aboutme_work__desc{
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 2em;
  background: linear-gradient(270deg, rgba(255, 169, 0, 0.05) 0%, transparent);
  border-radius: 10px;
  border-right: 1px solid bisque;
}

nav h3 span{
  display: inline-block;
  padding-right: 5px;
  overflow: hidden;
  transition: width 2s linear;
}

#home{
  width: 95.15px;
}

nav ul{
  list-style: none;
  display: flex;
  font-weight: 500;
  font-size: large;
  gap: 4rem;
  margin-top: 10px;
}

nav ul li{
  width: 150px;
  text-align: end;
}

.not_for_mbl{
  display: flex; 
  gap: 1em; 
  width: 70%; 
  padding: 5em;
  border-bottom: 1px solid bisque;
  border-radius: 10px;
  background: linear-gradient(360deg, rgba(255, 169, 0, 0.05) 0%, transparent);
}

.cert_img__a{
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
}

nav ul li:before{
  content: "@";
  font-weight: 900;
  color: orangered;
}

nav ul li a:hover{
  color: antiquewhite;
  font-weight: bold;
  animation: flicker 2s ease-in-out infinite alternate;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2em;
  color: antiquewhite;
  z-index: 2;
  position: absolute;
  font-size: 2.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title h1{
  color: #fff;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke: 3px antiquewhite;
}

.cta{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cta button{
  color: antiquewhite;
  background: linear-gradient(180deg, rgba(255, 169, 0, 0.1) 0%, black 100%);
  background-size: 200%;
  font-weight: bolder;
  font-size: large;
  border: none;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.b1{
  padding-left: 1em 3em 1em 0em;
}

.b2{
  padding-left: 1em 0em 1em 3em;
}

.cta button a{
  text-decoration: none;
  color: antiquewhite;
  display: flex;
  align-items: center;
  gap: 10px;
}

h6{
  z-index: 2;
  color: orangered;
  text-align: right;
}

.flickr:hover{
  color: antiquewhite;
  animation: flicker 2s ease-in-out infinite alternate;
}

.flickr_blue:hover{
  color: antiquewhite;
  animation: flicker_blue 2s ease-in-out infinite alternate;
}

.ornge{
  color: orangered;
}

.initial{
  color: orangered;
  font-weight: bolder;
}

.undrln{
  position: absolute;
  height: 2px;
  margin-top: 2em;
  margin-left: 0.3em;
  width: 26px;
  background: orangered;
  transition: width 0.5s linear;
}

.preloader {
  /* Center the preloader */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* Optional: Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the preloader is on top of other elements */
}

.preloader:before {
  content: "";
  display: block;
  /* Size and border of the spinner */
  width: 60px;
  height: 60px;
  border: 8px solid #fff;
  border-radius: 50%;
  border-top-color: #3498db; /* Blue color for the spinning part */
  animation: spin 1s linear infinite;
}

#homepage{
  width: 100vw;
  height: 100vh;
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
}

.tanps{
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, transparent, black);
  pointer-events: none;
}

.aboutme{
  color: antiquewhite;
  background: black;
  width: 100vw;
  height: max-content;
  overflow: hidden;
  margin-top: 2em;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grad{
  width: 70%;
  height: min-content;
  border-radius: 10px;
  border-top: 1px solid bisque;
  background: linear-gradient(rgba(255, 169, 0, 0.1), transparent);
}

.about_me_h1{
  text-align: center;
  padding: 1em;
}

.about_me_desc{
  padding: 5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_me__text{
  width: 100%;
  padding: 2em;
  border-radius: 10px;
  border-left: 1px solid bisque;
  border-right: 1px solid bisque;
  background-color: #000;
  /*background: linear-gradient(rgba(255, 169, 0, 0.1), #121212);*/
}

.about_me_p{
  font-size: larger;
  padding: 1em 1em 1em 1em;
}

.not_for_mbl a:hover{
  text-decoration: underline;
  text-decoration-color: orangered;
}

.aboutme_cert__h3{
  text-align: center;
  padding: 1em;
  margin-top: 1em;
}

.slideshow-container, .dootts{
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.8), transparent);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: orangered;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySlides > img{
  width: 60%;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 250ms linear;
}

.cert__img{
  opacity: 0;
  position: absolute;
  width: 350px;
  pointer-events: none;
  border-radius: 10px;
  border: 1px solid bisque;
  z-index: 100000;
}

.mySlides > img:hover{
  transform: scale(1.05);
  transition: transform 250ms linear;
}

.skills_h2, .aboutme_certs__h3{
  text-align: center;
  padding: 1em;
}

.picdiv{
  width: 100vw;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.about_me_img{
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

#photo:hover{
  color: bisque;
}

#photo__img{
  opacity: 0;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
}

#projects{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(black, #000);
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects_h1{
  width: 20%;
  text-align: center;
  padding: 2em;
}

.project_div{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  border: 1px solid bisque;
  height: 80%;
  width: 80%;
  margin-left: -2px;
  background: #000;
  box-shadow: inset -20px 20px 120px rgba(240, 240, 240, 0.1),
            inset 20px -20px 120px rgba(240, 240, 240, 0.1);
}

#connect{
  height: max-content;
  width: 100vw;
  background-color: #000;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect_h1{
  width: 20%;
  padding: 2em;
}

.hidden_a{
  display: none;
}

.sm_links{
  display: flex;
  flex-direction: column;
}

.sm_links h6{
  text-align: left;
}

.sm_links a{
  text-decoration: none;
  color: bisque;
}

.sm_links a:hover{
  text-decoration: underline;
  text-decoration-color: bisque;
  color: orangered;
}

.form_div{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid bisque;
  height: max-content;
  width: 80%;
  background: #000;
  box-shadow: inset -20px 20px 120px rgba(250, 250, 250, 0.1),
            inset 20px -20px 120px rgba(250, 250, 250, 0.1);
}

form{
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
}

form > span{
  opacity: 0;
}

input, textarea{
  font-weight: bolder;
  color: antiquewhite;
  padding: 2em;
  border: 1px solid rgba(255, 228, 196, 0.1);
  border-radius: 10px;
  background-color: transparent;
  resize: none;
  margin-bottom: 1em;
}

form > input[type="submit"]{
  font-weight: 900;
}

form > input[type="submit"]:hover{
  background: #121212;
  color: orangered;
  border: 1px solid bisque;
}

form > input[type="submit"]:disabled{
  background: #101010;
  color: gray;
  border: 1px solid #050505;
}

.project_div:after{
  content: "";
  margin-top: -17px;
  font-size: 3em;
  animation: wip 4s linear infinite;
}

.sk_wrap{
  display: flex;
  justify-content: center;
}

.scroller{
  max-width: 50vw;
}

.scroller[data-animated=true]{
  overflow: hidden; 
  -webkit-mask: linear-gradient(90deg, 
                                transparent,
                              white 20%, 
                              white 80%, 
                                transparent);
  mask: linear-gradient(90deg, 
                        transparent,
                      white 20%, 
                      white 80%, 
                        transparent);
}

.scroller[data-animated=true] .scroller_inner{
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"]{
  --_animation-direction: reverse;
}

.scroller[data-direction="left"]{
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"]{
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"]{
  --_animation-duration: 40s;
}

.scroller_inner{
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

footer{
  font-family: "Lato", sans-serif;
  color: antiquewhite;
  text-align: center;
  padding: 1em;
  padding-top: 4em;
  background-color: #000;
}

#blob{
  position: absolute;
  background: linear-gradient(
    to right,
    aquamarine,
    mediumpurple
  );
  animation: rotate 20s infinite;
  height: 350px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
  border-radius: 50%;
  z-index: 10000000;
  filter: blur(75px);
  opacity: 0.25;
  pointer-events: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

@keyframes wip{
  0%{
    content: "";
  }

  10%{
    content: ".";
  }

  20%{
    content: "..";
  }

  30%{
    content: "...";
  }

  40%{
    content: "....";
  }

  50%{
    content: ".....";
  }

  60%{
    content: "....";
  }

  70%{
    content: "...";
  }

  80%{
    content: "..";
  }

  90%{
    content: ".";
  }

  100%{
    content: "";
  }
}

@keyframes flicker_blue {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 1px #fff,
    0 0 3px #fff,
    0 0 7px #fff,
    0 0 15px skyblue,
    0 0 30px blue,
    0 0 60px blue,
    0 0 120px blue,
    0 0 240px blue;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 7px orange,
    0 0 15px orangered,
    0 0 30px orangered,
    0 0 60px orangered,
    0 0 120px orangered;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes text-space {
  0% {
    letter-spacing: 0em;
  }
  100% {
    letter-spacing: 0.1em;
  }
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media only screen and (max-width: 900px) {

  .aboutme_main{
    padding: 1em; 
    padding-top: 0;
    justify-content: center;
    align-items: center;
  }

  .about_me_p{
    padding: 2em;
  }

  .aboutme_work{
    width: 90%;
    margin-top: 2em;
  } 

  .aboutme_edu{
    width: 90%;
  }

  .aboutme_edu__desc{
    border-left: none;
    background: linear-gradient(180deg, rgba(255, 169, 0, 0.2) 0%, #000 100%);
    border-top: 2px solid rgba(255, 169, 0, 0.2);
    width: 90%;
  }
  
  .aboutme_work__desc{
    border-right: none;
    background: linear-gradient(0deg, rgba(255, 169, 0, 0.2) 0%, #000 100%);
    border-bottom: 2px solid rgba(255, 169, 0, 0.2);
    width: 90%;
  }

  .form_div{
    padding-bottom: 2em;
    flex-direction: column-reverse;
    gap: 1em;
  }

  form{
    width: 100%;
    padding: 1em;
  }

  .certs__list{
    text-wrap: wrap;
    width: 100%;
  }

  .certs__witharr{
    gap: 0;
  }

  .grad{
    width: 100%;
  }

  .about_me__text{
    padding: 0;
  }
}

@media only screen and (max-width: 1300px) {
  nav{
    padding: 2rem;
  }

  nav h3{
    font-size: large;
  }

  nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .aboutme{
    height: max-content;
  }

  .about_me_desc{
    flex-wrap: wrap;
  }

  .about_me_p{
    padding: 2em;
  }

  .scroller{
    max-width: 80vw;
  }

  #connect{
    flex-direction: column;
  }
  
  .connect_h1{
    width: auto;
    padding: 1em;
  }

  .form_div{
    border-radius: 10px;
  }

  #projects{
    flex-direction: column-reverse;
  }
  
  .projects_h1{
    text-align: left;
    width: auto;
    padding: 1em;
  }

  .project_div{
    border-radius: 10px;
    margin-left: 0;
  }

  .main_text{
    font-size: smaller;
  }

  .cta button{
    font-size: small;
  }

  .project_div h2, .form_div h2{
    margin-top: 0;
    font-size: small;
  }

  .project_div:after, .form_div:after{
    margin-top: 0;
    font-size: 1em;
  }

  .aboutme_main{
    padding: 1em;
    padding-top: 0;
    justify-content: center;
    align-items: center;
  }
  
  .aboutme_edu__desc{
    background: linear-gradient(90deg, rgba(255, 169, 0, 0.2) 0%, #000 100%);
    width: 90%;
  }
  
  .aboutme_work__desc{
    background: linear-gradient(270deg, rgba(255, 169, 0, 0.2) 0%, #000 100%);
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 1em;
  }

  .title{
    font-size: 1.5em;
  }

  nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about_me_desc{
    flex-wrap: wrap;
    padding: 1em;
  }

  .about_me_p{
    padding: 1em;
  }

  .title{
    top: 60%;
  }

  .main_text{
    font-size: larger;
  }

  .cta button{
    font-size: small;
  }

  footer{
    font-size: small;
  }

  .aboutme_work{
    width: 100%;
    margin-top: 3em;
  } 

  .aboutme_edu{
    width: 100%;
  }

  .aboutme_main{
    padding: 0.5em;
    padding-top: 0;
  }

  .aboutme_edu__desc{
    border-left: none;
    background: linear-gradient(180deg, rgba(255, 169, 0, 0.1) 0%, #000 100%);
    border-top: 2px solid rgba(255, 169, 0, 0.2);
    width: 80%;
  }
  
  .aboutme_work__desc{
    border-right: none;
    background: linear-gradient(0deg, rgba(255, 169, 0, 0.1) 0%, #000 100%);
    border-bottom: 2px solid rgba(255, 169, 0, 0.2);
    width: 80%;
  }

  .mySlides > img{
    width: 80%;
  }
}


@media (pointer:coarse) {
  .not_for_mbl{
    display: none;
  }

  .slideshow-container, .dootts{
    display: block;
  }

  #blob{
    opacity: 0.25;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: unset;
    top: unset;
    transform: unset;
    animation: none;
    background: linear-gradient(90deg, aquamarine, mediumpurple);
  }
}
